<!-- <h5>Sample queries:</h5> -->

<!--<form>
    <div class="form-group">
        <label for="sample">Sample queries:</label>
        <textarea class="form-control" cols="40" rows="10" id="sample"></textarea>
        <ul>
            {% for query in queries %}
            <li>{{query}}</li>
            {% endfor %}
        </ul>
    </div>
</form>
-->
<div class="list">
    <label>Sample queries:</label>
    <ul class="list-group">
        {% for query in queries %}
        <li class="sample-query">{{query}}</li>
        {% endfor %}
    </ul>
</div>
